<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">
	
	<!-- spring mvc dwr整合 -->
	<dwr:configuration>
		<dwr:convert type="bean" class="com.fengjing.framework.springmvc.dwr.model.User"></dwr:convert>
	</dwr:configuration>
    
    <dwr:controller id="dwrController" debug="true">
    	<!-- dwr在Tomcat7中报DWR CSRF Security Error 添加以下参数配置-->
    	<dwr:config-param name="crossDomainSessionSecurity" value="false"/>
    	<dwr:config-param name="allowScriptTagRemoting" value="true" />
    	<dwr:config-param name="debug" value="true" />
    </dwr:controller>
    
	<bean class="com.fengjing.framework.springmvc.dwr.dao.impl.UserDaoImpl" id="userDaoImpl"/>
	
	<!-- 基于xml配置方式dwr -->
	<bean class="com.fengjing.framework.springmvc.dwr.service.impl.UserServiceImpl" id="userServiceImpl">
		<property name="userDao" ref="userDaoImpl"></property>
		<dwr:remote javascript="dwrUserService">
			<dwr:include method="checkUsernameIsExists"/>
			<dwr:include method="getUsername"/>
			<dwr:include method="findUserById"/>
			<dwr:include method="listAll"/>
		</dwr:remote>
	</bean>
	
	
	<!-- 基于注解方式的dwr配置 -->
	
	<dwr:configuration />  
	
	<dwr:annotation-scan base-package="com.fengjing.framework.spring.dwr" scanDataTransferObject="true" scanRemoteProxy="true" />
	
	<!-- 用于将dwr的请求交给dwrController来处理 -->
	<bean id="dwrHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true"></property>
		<property name="mappings">
			<props>
				<prop key="/dwr/**/*">dwrController</prop>
			</props>
		</property>
	</bean>
	
</beans>