<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://cxf.apache.org/jaxws 
	http://cxf.apache.org/schemas/jaxws.xsd">
	
    <import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
	<bean id="helloWorldBean" class="com.fengjing.framework.webservice.cxf.impl.HelloWorldImpl"></bean>  
	
	<bean id="outLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
	<bean id="inLoggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
	
	<!-- 使用jaxws:endpoint发布webservice -->
	<!-- <jaxws:endpoint id="helloWorldService" implementor="#helloWorldBean" address="/HelloWorldService"/> -->
	
	<!-- 使用jaxws:server发布webservice -->
	<jaxws:server id="helloWorldService" serviceClass="com.fengjing.framework.webservice.cxf.HelloWorld" address="/HelloWorldService">
	    <jaxws:serviceBean>
	        <!-- 要暴露的 bean 的引用 -->
	        <ref bean="helloWorldBean"/>
	    </jaxws:serviceBean>
	    <jaxws:inInterceptors>
	        <ref bean="inLoggingInInterceptor"/>
	    </jaxws:inInterceptors>
	    <jaxws:outInterceptors>
	        <ref bean="outLoggingInterceptor"/>
	    </jaxws:outInterceptors>
	</jaxws:server>
	
	
	<!-- 通过 jaxws:client方式注入client-->
	<!--  
	<jaxws:client 
		   id="helloClient"
           serviceClass="com.fengjing.framework.webservice.cxf.HelloWorld"
           address="http://localhost:8080/maven-framework/ws/HelloWorldService?wsdl" />
	-->
	
	<!-- 通过 JaxWsProxyFactoryBean方式注入client-->
	
	<bean id="helloClient" class="com.fengjing.framework.webservice.cxf.HelloWorld" 
          factory-bean="clientFactory" factory-method="create"/>
    
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.fengjing.framework.webservice.cxf.HelloWorld"/>
        <property name="address" value="http://localhost:8080/maven-framework/ws/HelloWorldService"/>
        <property name="inInterceptors">
			<list>
			    <ref bean="inLoggingInInterceptor"/>
			</list>            
        </property>
        <property name="outInterceptors">
			<list>
			    <ref bean="outLoggingInterceptor"/>
			</list>            
        </property>
    </bean>
	
	
</beans>